<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    
    {{>navbar}}

<!-- //page -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

            <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                     <img src="images/profile.png" alt="mahesh" class="img-fluid" title="maheshhh">
                    </figure>
 
                 </div>

                
                <!-- right side div -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather App.</p>
                    <h2>I am<span class="text_clr"> Web developer</span> Mahesh Bandewar</h2>
                    <a href="
                    https://maheshpb411.github.io/portfolio/
                   " target="_blank"><button>About me</button></a>
                </div>

            </div>

        </div>
    </div>
</div>            
<!-- footer <code></code> -->

{{>footer}}

</body>
</html>