<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
     {{>navbar}}

<!-- //page -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">

            <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="Enter  your  cityname" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">
                </form>
            </div>

            <div class="tempInformation">
                <div class="top_layer">
                    <p id="day">Sunday</p>
                    <p id="date">30 Jan</p>
                </div>
                <div class="main_layer">
                    <p id="city_name">get Output Here</p>
                    <div class="middle_layer">
                        <p id="temp"><span>0</span></p><p><sup>o</sup>C</p>
                        <p id="temp_status"> <i class="fa fa-cloud"></i></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>            
<!-- footer <code></code> -->

{{>footer}}

<script src="js\main.js"></script>

<script>
    
   
    let wk = new Array(7);
    wk[0] = "Sunday";
    wk[1] = "Monday";
    wk[2] = "Tuesday";
    wk[3] = "Wednesday";
    wk[4] = "Thursday";
    wk[5] = "Friday";
    wk[6] = "Saturday";

    let current = new Date();
    let days = wk[current.getDay()];
    let dates = current.getDate();
    let months = current.getMonth();
    
    console.log(days);
    console.log(dates);
    
    document.getElementById("day").innerHTML = days;

    const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    {{!-- let name = month[d.getMonth()]; --}}

    document.getElementById("date").innerHTML =`${dates}${month[months]}`;
    

</script>

</body>
</html>
